@model ExcellentTaste.ViewModels.OrderViewModel

@{
    ViewBag.Title = "AddProduct";
}

<h2>AddProduct</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(Model => Model.OrderId)
    <table class="foodtable">
        <tr>
            <th>
                <button onclick="showDrank();" type="button" id="DrinkButton" class="DrinkCategoryTabButton">Drank</button>


                <button onclick="showEten();" type="button" id="FoodButton" class="FoodCategoryTabButton">Eten</button>

            </th>
        </tr>
        <tr>
            <td>
                <div class="DrinkCategoryTab" id="DrinkCategoryTab" style="display: none;">
                    @for (int i = 0; i < 3; i++)
                    {
                        string foodType = Model.FoodTypes[i];

                        <span id="DrankKnoppen">
                            <button id="@(foodType)Button" onclick="showTheseFoods(title);" class="FoodHeadBtns" type="button" title="@foodType">@foodType</button>
                        </span>
                    }
                </div>
                <div class="FoodCategoryTab" id="FoodCategoryTab" style="display: none;">
                    @for (int i = 3; i < Model.FoodTypes.Count(); i++)
                    {
                        string foodType = Model.FoodTypes[i];

                        <span id="FoodKnoppen">
                            <button id="@(foodType)Button" onclick="showTheseFoods(title);" class="FoodHeadBtns" type="button" title="@foodType">@foodType</button>
                        </span>
                    }
                </div>
            </td>
        </tr>
    </table>
    foreach (var foodType in Model.FoodTypes)
    {
        <span id="@foodType+Span" class="FoodList">
            @{
                Html.RenderPartial("FoodList", Model.AllProducts.Where(x => x.ProductType.ToString() == foodType));
            }
        </span>

    }
    @Html.HiddenFor(Model => Model.ProductString, htmlAttributes: new { id = "hiddenInput" })
    <div class="SubmitDiv">
        <input type="submit" value="Plaats bestelling" class="SubmitButton">
    </div>

}
@*<script src="~/Scripts/foodtypes.js"></script>*@
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

}
