@model IEnumerable<ExcellentTaste.Models.OrderModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Status
        </th>
        <th>
            Tijd
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Products)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tables)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.OrderStatus)
            </td>
            <td>
                @if (item.TimeStamp != null)
                {
                    <span>
                        @Html.DisplayFor(modelItem => item.TimeStamp.Value.TimeOfDay.Hours):@Html.DisplayFor(modelItem => item.TimeStamp.Value.TimeOfDay.Minutes)
                    </span>
                }
            </td>
            <td class="ProductOverflow">
                @foreach (var prod in item.Products)
                {
                    <span>@Html.DisplayFor(modelItem => prod.Product.Name),</span>
                }
            </td>
            <td>
                @if (item.Tables != null)
                {
                    foreach (var table in item.Tables)
                    {
                        @Html.DisplayFor(modelItem => table.TableId)<span>,</span>
                    }
                }
            </td>
            <td>
                @Html.ActionLink("Add Product", "AddProduct", new { id = item.OrderId }, htmlAttributes: new { @class = "DoneButton" })
                @Html.ActionLink("Edit", "Edit", new { id = item.OrderId }, htmlAttributes: new { @class = "EditButton" })

            </td>
        </tr>
    }

</table>
