@model IEnumerable<ExcellentTaste.Models.ProductOrderModel>

@{
    ViewBag.Title = "Keuken";
}

<h2>Keuken</h2>

@using (@Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Product.Name)
            </th>
            <th>
                Status
            </th>
            <th>
                @Html.Label("Save Changes")
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelitem => item.Product.Name)
                </td>
                <td>
                    <div>
                        @Html.DisplayFor(modelitem => item.ProductOrderStatus)
                    </div>
                </td>
                <td>
                    <div>
                            @Html.ActionLink("Done", "DishDone", new { id = item.ProductOrderId }, htmlAttributes: new { @class="DoneButton"})
                    </div>
                </td>
            </tr>
        }
    </table>
}
